 <!--==========================
      Why Us Section
    ============================-->

      <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" class="clearfix">
      <div class="container">
        <header class="section-header">
          <h3 class="section-title">Blog</h3>
          <h3 class="section-title">
            En esta seccion se describe varias noticias
          </h3>
        </header>

        <br />
        <!-- #intro -->
        <div class="container">
          <div class="mb-3 row">
            <label for="title-input" class="col-sm-2 col-form-label"
              >Título:</label
            >
            <div class="col-sm-6">
              <input
                type="text"
                id="title-input"
                class="form-control"
                placeholder="Ingrese el título"
              />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="content-input" class="col-sm-2 col-form-label"
              >Contenido:</label
            >
            <div class="col-sm-6">
              <textarea
                id="content-input"
                class="form-control"
                placeholder="Ingrese el contenido"
              ></textarea>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="image-upload" class="col-sm-2 col-form-label"
              >Imagen:</label
            >
            <div class="col-sm-6">
              <input type="file" id="image-upload" class="form-control" />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
              <button id="submit-button" class="btn btn-primary">
                Agregar
              </button>
            </div>
          </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>
        <br />
      
        <div id="news-section"></div>

        <div class="news-section">
          <div class="news-card">
            <img src="assets/img/noti1.JPG" alt="Imagen 1" class="news-image" />
            <div class="news-content">
              <h3 class="news-title">Se vino el frio</h3>
              <p class="news-text">Fuerte cambio en la region....</p>
            </div>
          </div>
          <div class="news-card">
            <img src="assets/img/noti2.JPG" alt="Imagen 2" class="news-image" />
            <div class="news-content">
              <h3 class="news-title">Nuevo Billete</h3>
              <p class="news-text">Se viene un nuevo billete de $1000</p>
            </div>
          </div>
          <div class="news-card">
            <img src="assets/img/noti3.JPG" alt="Imagen 3" class="news-image" />
            <div class="news-content">
              <h3 class="news-title">Elecciones PASO</h3>
              <p class="news-text">Este mes de agosto se...</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- #portfolio -->
